*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Quicksand',sans-serif;
}

body{
    display: flex;
    height: 100vh;
    background-color: aqua;
    align-items: center;
}

.news-grid{
    position: relative;
    width: auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 20px;
    overflow: hidden;
}

.news-grid-image{
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.news-grid-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.news-grid-box{
    display: block;
    position: absolute;
    text-align: center;
    background: #26ccca;
    left: -80px;
	top: 15px;
	padding: 10px;
	transition: .5s;
}

.news-grid-box h1{
    color:#fff;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 5px;
}

.news-grid-box p{
    color: #fff;
    margin-bottom: 0;
    font-size:14px;
    font-weight: 400;
}

.news-grid-txt span{
    color:#26ccca;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.news-grid-txt h2{
    color: #111;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px 0px 5px 0px;
}

.news-grid-txt ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    font-weight:300;
    margin: 8px 10px 8px 0px;
    letter-spacing: 1px;
}

.news-grid-txt ul li i{
    color: #26ccca;
    font-size: 14px;
    font-weight: 500;
    margin-right: 5px;
}

.news-grid-txt p{
    color: #222;
    font-size: 14px;
    font-weight: 300;
    line-height: 170%;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.news-grid-txt button {
    background: #26ccca;
    padding: 8px 20px;
    border: 0px;
    border-radius: 50px;
    margin: 10px;
}
.news-grid-txt button a{
    color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 1px;
	text-decoration-line: none;
	transition: .5s;
}

.news-grid:hover .news-grid-box{
    left: 15px;
    transition: 0.5s;
}

.news-grid:hover .news-grid-image img{
    filter: grayscale(1);
    transform: scale(1.1);
    transition: .5s;
}

.news-grid:hover .news-grid-txt button a{
   letter-spacing: 2px ;
   transition: 0.5s;
}
