*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100%;
    background: url('bg.jpg') center no-repeat;
    background-size: cover;
}
ul {
    list-style: none;
}
li{
    padding: 10px 10px;
    display: inline-block;
}
a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    background-color: transparent;
    transition: 0.3s;
}
a:hover{
    background-color: #fff;
    color: #000;
}
li.active a{
    background-color: #fff;
    color: #000;
}

.header {
    padding: 15px 0px;
    line-height: 1.5;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}


.justify-content-between{
    justify-content: space-between;
}
.align-items{
    align-items: center;
}
.navigation{
    padding: 0 30px;
}
.logo img{
    width: 150px;
    height: auto;
}

.nav-toggler{
    height: 34px;
    width: 44px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.nav-toggler :focus{
    outline: none;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.nav-toggler span{
    height: 2px;
    width: 20px;
    margin: auto;
    background-color: #000;
    display: block;
    position: relative;
    transition:  all 0.3s ease;
}

.nav-toggler.active span{
    background-color: transparent;
}
.nav-toggler span::before, .nav-toggler span::after{
    content :'';
    position : absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all 0.3s ease;
}

.nav-toggler span::after{
    transform: translateY(6px);
}

.nav-toggler.active span::after{
    transform: rotate(45deg);
}

.nav-toggler span::before{
    transform: translateY(-6px);

}

.nav-toggler.active span::before{
    transform: rotate(135deg);
}

@media screen and (max-width: 991px) {
    .nav-toggler{
        display: block;
    }
    .navigation{
        width: 100%;
        background-color: transparent;
        padding: 0;
        margin-top: 12px;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
    }
    .navigation.open{
        visibility: visible;
    }
    
    ul{
        width: 100%;
        border-top:  1px solid rgba(0, 0, 0, 0.8);
    }
    li{
        padding: 0;
        display: block;
    }
    a{ 
        display: block;
        text-align: center;
    }
    a:hover{
        color: #000;
        background-color: transparent;
    }
}

